body {
    background-color: rgba(247, 236, 222);

    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;


}



h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 500;
    color: #352E28;
    position: relative;
    width: 100%;
    margin: auto;


}

hr {
    border: dashed 1px #050000;


}

h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #ffd000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


h1::before {
    display: block;
    content: "";
    width: 20%;
    height: 25%;
    background-color: #fec260;
    position: absolute;
    bottom: 10px;
    left: 40%;
    transition: all 350ms;
    z-index: -1;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -ms-transition: all 350ms;
    -o-transition: all 350ms;
}

h1:hover::before {
    height: 50%;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}


/*  table */
table {
    font-family: 'PT sans-caption';
    font-weight: 500;
    font-size: 19px;
}

::selection {
    background-color: #fec260;
    color: black;
}

/* ================ */

/* alert */
#lightBoxContainer {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


#lightBox {

    width: 550px;
    background-color: rgb(248, 245, 245);
    font-size: 22px;

}